<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-6" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets">
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-0">
                            <img src="../../images/cedar/cedar-fence-1.jpg">
                        </a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-1"><img src="../../images/cedar/cedar-fence-2.jpeg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-2"><img src="./../images/cedar/cedar-fence-3.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-3"><img src="../../images/cedar/cedar-fence-4.jpg"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-4"><img src="../../images/cedar/cedar-fence-5.jpg"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-5"><img src="../../images/cedar/cedar-fence-6.jpg"></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="0">
                                        <img src="../../images/cedar/cedar-fence-1.jpg"></div>

                                    <div class="item" data-slide-number="1">
                                        <img src="../../images/cedar/cedar-fence-2.jpeg"></div>

                                    <div class="item" data-slide-number="2">
                                        <img src="../../images/cedar/cedar-fence-3.jpg"></div>

                                    <div class="item" data-slide-number="3">
                                        <img src="../../images/cedar/cedar-fence-4.jpg"></div>
                                    <div class="item" data-slide-number="4">
                                        <img src="../../images/cedar/cedar-fence-5.jpg"></div>
                                    <div class="item" data-slide-number="5">
                                        <img src="../../images/cedar/cedar-fence-6.jpg"></div>
                                </div>
                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Slider-->
        </div>

    </div>
</div>