<div class="row">
	<div class="about-us-homepage">

		<div class="col-md-8 first-div-style">
			<h3>Denver Fence Specilists</h3>
				<hr>
				<p>A member of the American Fence Association, Denver Fence Specialist is dedicated to offer the best service and product to residents and businesses of the Denver Metro Area. With years of experience in fencing we can assist you with traditional fence installations or custom fences, and fence repairs alike. </p>

				<p>Working only with the best suppliers, Denver Fence Specialist has a wide variety of styles and materials to choose from including cedar, split rail, chain link, vinyl, ornamental iron and other composite materials. We have vast experience installing and repairing all fence sizes and types so feel free to contact us for a FREE estimate today!</p>

 			<h3>Mission Statement</h3>
 			<hr>
				<p>Provide Denver Metro Area residents and business a product that is going to last and bring real value to their property. Act as real professional: be courteous, punctual and of integrity.</p>
		</div>
		<div class="col-md-4">
			<img src="../../images/fence-homepage.jpg" class="img-thumbnail">
		</div>
	
	</div>

</div>	