<div class="row second-div-style">
	<div class="about-us-homepage">
		<div class="col-md-9">
			<h3>Our Vision</h3>
				<hr>
				<p>We want 100% of our business to come from referrals within 2 years. It is with that kind of intention that we complete your projects. </p>

				<p>At DFS, we make a point to complete every project with the same attention to details and quality as if it was for our own house.</p>

		</div>
		<div class="col-md-3">
			<img src="../../images/fence-footer.jpg" class="img-thumbnail">
		</div>
	
	</div>
</div>