<div class="container">
	<div class="col-md-4">
		<div class="hovereffect">
			<img class="img-thumbnail" src="../../images/cedar-fence.jpg">
			<div class="overlay">
                <h2>Cedar Fence</h2>
				<p> 
					<a href="/cedar-fences-denver"><button type="button" class="btn btn-info">Learn More</button></a>
				</p> 
            </div>
        </div>    
	</div>
	<div class="col-md-4">
		<div class="hovereffect">
			<img class="img-thumbnail" src="../../images/rail-fence.jpg">
			<div class="overlay">
                <h2>Rail Fence</h2>
				<p> 
					<a href="/rail-fence-denver"><button type="button" class="btn btn-info">Learn More</button></a>
				</p> 
            </div>
        </div>	    
	</div>
	<div class="col-md-4">
		<div class="hovereffect">
			<img class="img-thumbnail" src="../../images/vinyl-fence.jpg">
			<div class="overlay">
                <h2>Vynyl Fence</h2>
				<p> 
					<a href="/vynyl-fence-denver"><button type="button" class="btn btn-info">Learn More</button></a>
				</p> 
            </div>
        </div>	    
	</div>
</div>


<br>
<div class="container">
	<div class="col-md-4">
		<div class="hovereffect">
			<img class="img-thumbnail" src="../../images/iron-fence.jpg">
			<div class="overlay">
                <h2>Iron Fence</h2>
				<p> 
					<a href="/iron-fence-denver"><button type="button" class="btn btn-info">Learn More</button></a>
				</p> 
            </div>
        </div>	    
	</div>

	<div class="col-md-4">
		<div class="hovereffect">
			<img class="img-thumbnail" src="../../images/chainlink.jpg">
			<div class="overlay">
                <h2>Chain-link Fence</h2>
				<p> 
					<a href="/chain-link-fence-denver"><button type="button" class="btn btn-info">Learn More</button></a>
				</p> 
            </div>
        </div>	    
	</div>
	<div class="col-md-4">
		<div class="hovereffect">
			<img class="img-thumbnail" src="../../images/gates.jpg">
			<div class="overlay">
                <h2>Gates</h2>
				<p> 
					<a href="/gates-denver"><button type="button" class="btn btn-info">Learn More</button></a>
				</p> 
            </div>
        </div>	   
	</div>
</div>
