<%- include('base-header') %>
<%- include('navbar') %>
<div class="container">
	<div class="row">
		<h1 class="about-us">Our Story</h1>
			<p>Our team hails from Denver, CO, and we specialize in custom fences across the Denver metro area. Our expertise ranges from all different types of fences, which includes cedar fence, iron fence, chain-link fence, rail fence, and gates. </p>	
	</div>
</div>
		
<%- include('base-footer') %>