</body>
<footer class="main-footer">

    <div class="row">
      <div class="footer-center-divs col-sm-6 col-md-4">
        <a href="/"><img class="footer-logo" src="../../images/fence-logo.png"></a>
        <div class="location-footer">
          <h5>Headquarters: Denver, CO</h5>
          <h5>Phone Number: (720) 507-6758</h5>
        </div>
        <br>
        <br>
        <ul class="footer-links">
          <h5>SiteMap:</h5>
            <a href="/about-us"><li id="footer-li-tags-top">About Us</li></a>
            <a href="/contact-us"><li id="footer-li-tags">Contact Us</li></a>
            <a href="/review"><li id="footer-li-tags">Reviews</li></a>
            <a href="/login"><li id="footer-li-tags">Admin Login</li></a>
        </ul>
      <br>
  </div>
  <div class="footer-center-divs">
    <div class="col-sm-6 col-md-4 form-footer" action=" " method="post">
        <form>
          <h3>Get a Free Estimate!</h3>
          <div class="form-group">
            <label for="control-label">First Name</label>
            <input name="first_name" id="firstName" placeholder="First Name" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Last Name</label>
            <input name="last_name" id="lastName" placeholder="Last Name" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Email Address</label>
            <input name="email" id="email" placeholder="E-Mail Address" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumberInput" placeholder="Phone Number">
            <br>
           <div class="col-md-4 button-form">
            <button type="submit" id="contactSubmit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button>
          </div>
          </div>
        </form>
      </div>
  </div>
      

  <div id="blog" class="footer-center-divs mobile-blog col-sm-6 col-md-3">
    <h1 class="digital-blog">Reviews</h1>

  </div>
  <div class="footer-center-divs footer-home-social">


</div>
  </div>
</footer>
<footer class="bottom-footer">
    <p>Denver Fence Specialists © 2016, All Rights Reserved</p>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</footer>
</html>