<!DOCTYPE html>
<html>
<head>
	<title>Fence Company</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/b3d4dba44a.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
