<!DOCTYPE html>
<html>
<head>
	<title>Fence Company</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/b3d4dba44a.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link href="/css/hover-min.css" rel="stylesheet">
</head>
<body>
