<%- include('base-header') %>
<%- include('navbar') %>
<br>
<br>
<br>
<br>

<%- include('./partials/cedar-carousel') %>
<div class="container">
<hr>	
<h1>Cedar Fences</h1>
<p>A cedar fence is an excellent choice for your backyard, home or garden. Consider its longevity; the natural oils in cedar make the wood naturally resistant to decay and insect attacks which increases its durability without the use of chemical treatments.<p>

<p>Cedar is one of the most stable woods available and will stay straight and warp very little through its life time. Is it any wonder cedar fences are one of the most popular fence types we install and repair?<p>

<p><a href="/contact-us"/>Click here</a> for a free estimate regarding your cedar fence project or call (303) 791-1997 to speak with a Denver Fence Specialist representative.</p>

</div>


<%- include('base-footer') %>