<%- include('base-header') %>
<%- include('navbar') %>


<div class="form-bottom contact-us">
	<div class="">
    <form action="/new-lead" method="post">
      <h4>Contact Us Today!</h4>
      <div class="form-group">
        <label for="control-label">First Name</label>
        <input name="firstName" id="firstName" placeholder="First Name" class="form-control"  type="text">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Last Name</label>
        <input name="lastName" id="lastName" placeholder="Last Name" class="form-control"  type="text">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Email Address</label>
        <input name="email" id="email" placeholder="E-Mail Address" class="form-control"  type="text">
      </div>
      <div class="form-group">
        <label for="repair">Repair Type</label>
        <select name="repair" id="repair" class="form-control"  type="text">
            <option value="replacementFence">Replacement Fence</option> 
            <option value="newFence">New Fence</option>   
        </select>
      </div>
      <div class="form-group">
        <label for="fenceType">Fence Type</label>
        <select name="fenceType" id="fenceType" class="form-control"  type="text">
            <option value="wood">Wood</option> 
            <option value="vinyl">Vinyl</option> 
            <option value="chainLink">Chain Link</option>    
        </select>
      </div>
      <div class="form-group">
        <label for="dateCompleted">Date for Completion</label>
        <input name="dateCompleted" type="date" id="dateCompleted" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">How did you hear about us?</label>
        <input name="hear" id="hear" placeholder="Hear About Us" class="form-control"  type="text">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Phone Number</label>
        <input name="phone" type="text" class="form-control" id="phoneNumberInput" placeholder="Phone Number">
        <br>
       <div class="col-md-4 button-form">
        <button type="submit" id="contactSubmit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
      </div>
      </div>
    </form>
  </div>
</div>

<%- include('base-footer') %>
