<%- include('base-header') %>
<%- include('navbar') %>

<div id="slideshow" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active"><img class="carousel-image" src="/images/banner_trex.jpg" alt=""></div>
        <div class="item"><img class="carousel-image" src="/images/quality-affordable-fence.jpg" alt=""></div>
        <div class="item"><img class="carousel-image" src="/images/fence5.jpg" alt=""></div>
    </div>

<!--     <ol class="carousel-indicators">
        <li data-target="#slideshow" data-slide-to="0"></li>
        <li data-target="#slideshow" data-slide-to="1"></li>
        <li data-target="#slideshow" data-slide-to="2"></li>
    </ol> -->
</div>

<%- include('./partials/first-div') %>


<section class="container">
  <div class="row">
    <div class="col-md-3 box">
      <h1>Product One</h1>
    </div>
    <div class="col-md-3 box">
      <h1>Product Two</h1>
    </div>
    <div class="col-md-3 box">
      <h1>Product Three</h1>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-3 box">
      <h1>Product Four</h1>
    </div>
    <div class="col-md-3 box">
      <h1>Product Five</h1>
    </div>
    <div class="col-md-3 box">
      <h1>Product Six</h1>
    </div>
  </div>
</section>


<%- include('base-footer') %>
