<%- include('base-header') %>
<%- include('navbar') %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%- include('./partials/iron-fence-carousel') %>
<div class="container first-div-style">
	<hr>	
	<h1>Iron Fence</h1>
		<div class="row rail-paragraph">
			<p>In addition to their good looks, ornamental steel and aluminum fences can be used to secure properties. Pickets with thicker walls are used for commercial or industrial applications to further increase the strength of the fence. Aluminum does not rust and is often specified for that reason, also making it a popular choice in coastal areas and other harsh environments.</p>

			<p>Homeowners choose ornamental metal fencing to show off landscaping of homes while also conveying a sense of security. Simply put, ornamental offers a prestige look. Like other fence products, decorative metals have become increasingly durable and maintenance free.</p>

			<p>Both ornamental aluminum and iron are earth friendly and sport environmentally friendly finishes. Furthermore, aluminum is 100% recyclable and can be recycled repeatedly without breaking down. Most manufacturers, in their aluminum extrusions, use substantial percentages of recycled scrap. The industry standard calls for recycled content of about 70%. Many manufacturers have green certification to that effect, which specifiers commonly look for.</p>
			
			<p>Ornamental fences come in a wide variety of styles to complement all types of architecture, from contemporary to traditional, and are available in a number of standard colors.</p>

			<p>The attractiveness of ornamental fencing is one of its biggest draws, and property owners have a range of style options from which to choose. “Customers can easily personalize their ornamental fences by adding rails, rings, scrolls and finials. They may also choose arching or swooping pickets. Twisted pickets are also available to customize ornamental fences,” Frankel said.</p>

			<p>Rings and scrolls are installed between pickets, while finials dress up post caps and the tops of pickets. Swoops and arches refer to the placement of the pickets.</p>

			<p><a href="/contact-us"/>Click here</a> for a free estimate regarding your cedar fence project or call (970) 946-7091 to speak with a Denver Fence Specialists representative.</p>
		</div>	

</div>


<%- include('base-footer') %>

