<%- include('base-header') %>
<%- include('navbar') %>
<br>
<br>
<br>
<br>

<%- include('./partials/iron-fence-carousel') %>
<div class="container">
<hr>	
<h1>Iron Fence</h1>
<p> rail fence, from which Split Rail Fence and Supply Company gets its name, is produced from rough sawn cedar and is split lengthwise into rails and typically used for agricultural barriers or decorative fencing.<p>

<p>Rail fences are simple in their construction and are ideal to build on hard or rocky ground. They also can be built without using any nails or other hardware.<p>

<p><a href="/contact-us"/>Click here</a> for a free estimate regarding your cedar fence project or call (303) 791-1997 to speak with a Denver Fence Specialist representative.</p>

</div>


<%- include('base-footer') %>

