<%- include('base-header') %>
<%- include('navbar') %>

<div class="login">
	<section>
		<form action="/login" id="login-form" method="post">
		  <div class="container login-form-styling">
			  <div>
			      <label>Username:</label>
			      <input type="text" class="username_style" id="username-field" name="username"/>
			  </div>
			  <div>
			      <label>Password:</label>
			      <input type="password" class="password_style" id="password-field" name="password"/>
			  </div>
			  <div>
			  	<button type="submit">Login</button>
			  </div>
		  </div>
		</form>	
	</section>	
</div>

<%- include('base-footer') %>