<%- include('base-header') %>
<nav class="navbar margin-class navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="img-responsive" src="../../images/DF_Logo_.png"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="dropdown nav-link">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fences We Offer<span class="caret"/></span></a>
          <ul class="dropdown-menu">
            <li class="nav-link"><a href="/cedar-fences-denver">Cedar Fences</a></li>
            <li class="nav-link"><a href="/rail-fence-denver">Rail Fences</a></li>
            <li class="nav-link"><a href="/vynyl-fence-denver">Vynyl Fences</a></li>
            <li class="nav-link"><a href="/iron-fence-denver">Iron Fences</a></li>
            <li class="nav-link"><a href="/chain-link-fence-denver">Chain Link Fences</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="/projects-completed">Projects</a></li>
        <li class="nav-link"><a href="/reviews">Reviews</a></li>
        <li class="nav-link"><a href="/contact-us">Contact Us</a></li>
        <li class="nav-link"><a href="/partners">Partners</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

