<nav class="navbar navbar-default navbar-homepage navbar-fixed-top mainmenu">
  <div class="navbar-links">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="row">
      <div class="col-md-4 text-center">
        <h3>Greatest Fence Company in the world</h3>
      </div>
      <div class="col-md-4 text-center">
        <img src="../../images/fence-logo.jpg">
        <p>Contact Information</p>
      </div>
      <div class="col-md-4 text-center">
        <h2>Call Us today 720-345-2349</h2>
      </div>
    </div>

    <div class="styling-navbar">
      <section class="full-container clearfix">
      <div class="container collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/" class="nav-link">Home</a></li>
          <li class="active"><a href="/about-us" class="nav-link">About Us</a></li>
          <li class="active"><a href="/reviews" class="nav-link">Reviews</a></li>
          <li class="active"><a href="/contact-us" class="nav-link">Contact Us</a></li>
        </ul>
      </div>
    </section>
    </div>


  </div>
</nav>