<nav class="navbar navbar-default navbar-homepage navbar-fixed-top mainmenu">
  <div class="navbar-links">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="text-center">
      <h1>Fencing Logo</h1>
      <p>Contact Information</p>
    </div>
    <div class="styling-navbar">
      <section class="full-container clearfix">
      <div class="container collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="about.html" class="nav-link">About Us</a></li>
          <li class="active"><a href="about.html" class="nav-link">Products</a></li>
          <li class="active"><a href="about.html" class="nav-link">Contact Us</a></li>
        </ul>
      </div>
    </section>
    </div>


  </div>
</nav>