<%- include('base-header') %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Logo</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fences We Offer<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/cedar-fences-denver">Cedar Fences</a></li>
            <li><a href="/rail-fence-denver">Rail Fences</a></li>
            <li><a href="/vynyl-fence-denver">Vynyl Fences</a></li>
            <li><a href="/iron-fence-denver">Iron Fences</a></li>
            <li><a href="/chain-link-fence-denver">Chain Link Fences</a></li>
            <li><a href="/gates-denver">Gates</a></li>
          </ul>
        </li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

