<%- include('base-header') %>
<%- include('navbar') %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
	<h1>Partners We Work With</h1>
	<p>Below are some of the partners we work with locally in Denver, CO. We strive to bring our customers the best materials possible and work closely with our partners to ensure this happens. </p>
	<div class="row">
		<div class="col-md-4">
			<h3 style="text-align: center;">American Fence Association</h3>
			<a href="http://americanfenceassociation.com/" target="_blank"><img style="margin: auto;" src="../../images/afa-logo.png" class="img-responsive"></a>	
		</div>
		<div class="col-md-4">
			<h3 style="text-align: center;">Cedar Supply Inc.</h3>
			<a href="http://www.cedarsupply.com/" target="_blank"><img style="margin: auto;" src="../../images/cedar-supply-logo.png" class="img-responsive"></a>	
		</div>
		<div class="col-md-4">
			<h3 style="text-align: center;">Continental Divide Fence</h3>
			<a href="http://www.cdfdenver.com/" target="_blank"><img style="margin: auto;" src="../../images/cdf-logo.png" class="img-responsive"></a>	
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-md-4">
			<h3 style="text-align: center;">Master Halco</h3>
			<a href="http://www.masterhalco.com/" target="_blank"><img style="margin: auto;" src="../../images/MasterHalco.jpg" class="img-responsive"></a>
			
		</div>
		<div class="col-md-4">
			<h3 style="text-align: center;">Master Halco</h3>
			<a href="https://www.merchantsmetals.com/" target="_blank"><img style="margin: auto;" src="../../images/mm_logo_rnrn.jpg" class="img-responsive"></a>			
		</div>
		<div class="col-md-4">
			<h3 style="text-align: center;">Westech PB</h3>
			<a href="http://www.westechbp.com/" target="_blank"><img style="margin: auto;" src="../../images/westech-logo.jpg" class="img-responsive"></a>		
		</div>
	</div>
</div>



<%- include('base-footer') %>