<%- include('base-header') %>
<%- include('navbar') %>
<div class="container projects-completed">
	<div class="row">
		<div class="col-sm-10">
			<h1>Fencing Projects Completed</h1>
				<p>Below is some work we were recently able to complete. Please give us a call or send us your information and we can get started right away on your opcoming project. <a href="/contact-us">Contact Us</a></p>
		</div>

	</div>	
</div>	
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="../../images/before-after.jpeg" class="img-responsive">
		</div>
		<div class="col-md-6">
			<img src="../../images/before-after-2.jpeg" class="img-responsive">
		</div>
	</div>
</div>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img src="../../images/fence-one-completed.jpeg" class="img-responsive">
		</div>
		<div class="col-md-3">
			<img src="../../images/fence-two-completed.jpeg" class="img-responsive">
		</div>
		<div class="col-md-3">
			<img src="../../images/fence-three-completed.jpeg" class="img-responsive">
		</div>
		<div class="col-md-3">
			<img src="../../images/fence-four-completed.jpeg" class="img-responsive">
		</div>
	</div>
</div>



<%- include('base-footer') %>