<%- include('base-header') %>
<%- include('navbar') %>



<div class="row reviews-style">
  <div class="col-md-3" id="review-styling">
    <h1>Reviews</h1>
    <form action="/reviews" method="post">
      <h4>Review Us Today!</h4>
      <div class="form-group">
        <label for="control-label">First Name</label>
        <input name="firstName" id="firstName" placeholder="First Name" class="form-control"  type="text">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Last Name</label>
        <input name="lastName" id="lastName" placeholder="Last Name" class="form-control"  type="text">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Review</label>
        <input name="review" id="review" placeholder="Review" class="form-control"  type="text">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Score</label>
        <select name="score">
  			<option value="1">1</option> 
  			<option value="2">2</option>
  			<option value="3">3</option>
  			<option value="4">4</option>
  			<option value="5" selected>5</option>
		</select>
       <div class="col-md-4 button-form">
        <button type="submit" id="contactSubmit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
      </div>
      </div>
    </form>
  </div>
  <div class="col-md-7 list-group" id="review-post-styling">

    <% reviews.forEach((review) => { %>
    <% include ./partials/review %>
    <% }) %>
  </div>
</div>


<%- include('base-footer') %>

