<%- include('base-header') %>
<%- include('navbar') %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%- include('./partials/rail-fence-carousel') %>
<div class="container first-div-style">
	<hr>	
	<h1>Split Rail Fence</h1>
	<div class="row rail-paragraph">
		<p>A split rail fence is produced from rough sawn cedar and is split lengthwise into posts and rails. It was historically used by ranchers because it was simple to produce and easy to fix.<p>

		<p>Today, they are a great way to add style to a front yard or simply delineate long property lines.<p>

		<p><a href="/contact-us"/>Click here</a> for a free estimate regarding your cedar fence project or call (970) 946-7091 to speak with a Denver Fence Specialists representative.</p>
	</div>
</div>


<%- include('base-footer') %>

