<%- include('base-header') %>
<%- include('navbar') %>
<br>
<br>
<br>
<br>

<div class="container">
	<h1>Thank You</h1>

	<p>One of our team members will be in touch with you shortly.</p>	
</div>

<%- include('base-footer') %>