<%- include('base-header') %>

  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            <h2>File Uploader</h2>
            <h4>coligo.io</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
            <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('base-footer') %>

