<%- include('base-header') %>
<%- include('navbar') %>
<br>
<br>
<br>
<br>

<%- include('./partials/vynyl-fence-carousel') %>
<div class="container">
<hr>	
	<h1>Vynyl Fences</h1>
	<p>Split Rail Fence & Supply Company offers the most extensive collection of vinyl fences in the Denver metro area. Vinyl fences require no maintenance and will not rot, warp or splinter. Many of our customers prefer vinyl fencing to traditional wood fencing as vinyl fences last longer and are available in a vast selection of styles and colors.<p>

	<p>For more than 20 years, the Bufftech name has been synonymous with quality. A pioneer in the development of vinyl fencing, Bufftech continues to lead the way with a winning combination of innovative products and distinctive designs for both residential and commercial applications.<p>

	<p>Bufftech’s reputation as an industry leader is enhanced by their partnership with CertainTeed, America’s leading manufacturer of building products. State-of-the-art manufacturing and research facilities enable them to bring the latest breakthroughs in vinyl technology to the marketplace.</p>

	<p><a href="/contact-us"/>Click here</a> for a free estimate regarding your cedar fence project or call (303) 791-1997 to speak with a Denver Fence Specialist representative.</p>
</div>


<%- include('base-footer') %>


