.contact-us-form{
  padding: 60px;
}

.about-us{
  height: 40em;
}
.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 100;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  margin-bottom: 200px;
  text-align: center;
  margin-left: 400px;
  
}

i{
  margin: 21px;
}
#review-styling{
  margin: 30px;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #777;
  color: white;
}


/** ADMIN stylying **/

.lead-post{
  margin: 15px;
}
.review-post{
  margin: 15px;
}

.admin-background{
  background-color: rgb(169,169,169);
}
.leads-reviews{
  margin-left: 317px;

}

.navbar-admin-links{
  font-size: 20px;
  background-color: #f8f8f8;
  margin-top: 15px;

}
#top-link{
  margin-top: 15px;
}

ul {
  list-style-type: none;
}
.navbar-styling{
  width: 22em;
}
.ul-style-admin{
  margin-top: 45px;
}


body{
  font-family: 'Playfair Display', serif;

}




.fa-star{
  color: yellow;
}

.reviews-style{
  margin-top: 150px;
}

.form-bottom{
  border-style: dotted;
  width: 80%;
  margin: auto;
}

.contact-us{
  margin-top: 250px; 
}

.login{
  margin-top: 234px;
  margin-bottom: 400px;
  height: 2em;

}
#login-form{
  text-align: center;
}
.login-form-styling{
  border: 1px black solid;
  padding: 107px;
}

/**********
 * Boxes
 **********/

.box {
  height: 20em;
  margin: 47px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.box:hover {
   box-shadow: 0 1px 4px rgba(204, 102, 0, 1);
  -webkit-box-shadow: 0 1px 4px rgba(204, 102, 0, 1);
  -moz-box-shadow: 0 1px 4px rgba(204, 102, 0, 1);
  -o-box-shadow: 0 1px 4px rgba(204, 102, 0, 1);
}

/**********
 * Footer *
 **********/

.bottom-footer {
    background-color: #333333;
    color: white;
    padding-top: 25px;
    height: 70px;
    text-align: center;
}
.main-footer {
    position: relative;
    background-color: rgb(0, 0, 128);
    color: #FFFFFF;
    min-height: 32em;
}
.footer-center-divs {
 
    margin-left: 15px;
}
.form-footer {
    margin-top: 20px;
    border-right: solid white;
    border-left: solid white;
}
/**********
 * Slide Show *
 **********/

#slideshow{
  padding-top: 5em;
}
.carousel-inner img{
  width: 100%;
}



/**********
 * Navbar Custom *
 **********/
.active{
  background-color: white;
}
.navbar-inverse{
  background-color: rgb(0, 0, 128);

}
nav .navbar-brand {
  font-size: 30px;
}
nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}
nav a {
  font-size: 18px;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav.navbar.shrink {
  min-height: 35px;
}
nav.navbar.shrink .navbar-brand {
  font-size: 25px;
}
nav.navbar.shrink a {
  font-size: 15px;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
nav.navbar.shrink .navbar-toggle {
  margin: 8px 15px 8px 0;
  padding: 4px 5px;
}

