.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 100;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  margin-bottom: 200px;
  text-align: center;
  margin-left: 400px;
  background-color: rgba(0,0,0,.4);
  width: 30em;
  
}

i{
  margin: 21px;
}
#review-styling{
  margin: 30px;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #777;
  color: white;
}


/** ADMIN stylying **/

.lead-post{
  margin: 15px;
}
.review-post{
  margin: 15px;
}

.admin-background{
  background-color: rgb(169,169,169);
}
.leads-reviews{
  margin-left: 317px;

}

.navbar-admin-links{
  font-size: 20px;
  background-color: #f8f8f8;
  margin-top: 15px;

}
#top-link{
  margin-top: 15px;
}

ul {
  list-style-type: none;
}
.navbar-styling{
  width: 22em;
}
.ul-style-admin{
  margin-top: 45px;
}


body{
  font-family: 'Playfair Display', serif;

}




.fa-star{
  color: yellow;
}

.reviews-style{
  margin-top: 150px;
}

.form-bottom{
  border-style: dotted;
  width: 80%;
  margin: auto;
}

.contact-us{
  margin-top: 250px; 
}

.login{
  margin-top: 234px;
  margin-bottom: 400px;
}
#login-form{
  text-align: center;
}
.login-form-styling{
  border: 1px black solid;
  padding: 107px;
}

/**********
 * Boxes
 **********/

.box {
  height: 20em;
  margin: 47px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.box:hover {
   box-shadow: 0 1px 4px rgba(204, 102, 0, 1);
  -webkit-box-shadow: 0 1px 4px rgba(204, 102, 0, 1);
  -moz-box-shadow: 0 1px 4px rgba(204, 102, 0, 1);
  -o-box-shadow: 0 1px 4px rgba(204, 102, 0, 1);
}

/**********
 * Footer *
 **********/

.bottom-footer {
    background-color: #333333;
    color: white;
    padding-top: 25px;
    height: 70px;
    text-align: center;
}
.main-footer {
    position: relative;
    background-color: rgb(204,129,65);
    color: #FFFFFF;
    min-height: 32em;
}
.footer-center-divs {
 
    margin-left: 15px;
}
.form-footer {
    margin-top: 20px;
    border-right: solid white;
    border-left: solid white;
}
/**********
 * Slide Show *
 **********/

#slideshow{
  padding-top: 11em;
}
.carousel-inner img{
  width: 100%;
}



/**********
 * Navbar Custom *
 **********/

#a-header{
  font-size:20px;
  text-align: center;
}
.img-header{
  margin-top: 48px;
}

.left-header{
margin-left: 105px;
}
.right-header{
margin-left: 155px;  
}
.header-style{
  background-color: rgba(204, 129, 65, 0.8);

}
.above-header{
  background-color: white;
}

/* Mobile and Tablet */
@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .collapsing {
    overflow: hidden !important;
  }

  .navbar {
    background: #F8F8F8;
    border: none;
    margin-bottom: 0;
  }
  .navbar .container {
    width: 100%;
  }
  .navbar-header {
    height: 75px;
  }
  .navbar-header .navbar-toggle {
    right: 0;
    border: none;
    background: transparent !important;
    margin-top: 18px;
  }
  .navbar-header .navbar-toggle:hover {
    background: transparent !important;
  }
  .navbar-header .navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .navbar-header .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .navbar-header .navbar-toggle .middle-bar {
    opacity: 0;
  }
  .navbar-header .navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  .navbar-header .navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
  }
  .navbar-header .navbar-toggle.collapsed .middle-bar {
    opacity: 1;
  }
  .navbar-header .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
  }
  .navbar-brand {
    padding: 12px 0 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px !important;
    /* 50% of your logo width */
    display: block;
    z-index: 9999;
  }
  .navbar-brand img {
    width: 200px;
  }
  .navbar-nav li a {
    color: #707070 !important;
    font-size: 14px;
  }
  .navbar-nav li a:hover {
    background: #ebebeb !important;
    color: #BC7A84 !important;
  }
}
/* laptop */
@media (min-width: 993px) {
  .navbar {
    border: none;
    margin-bottom: 0;
  }
  .navbar-brand {
    padding: 10px 0 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -152.5px !important;
    /* 50% of your logo width */
    display: block;
    z-index: 9999;
  }
  .navbar-brand img {
    width: 305px;
  }
  .navbar-nav li a {
    color: #707070 !important;
    font-size: 14px;
  }
  .navbar-nav li a:hover {
    color: #BC7A84 !important;
  }
  .navbar-right li a {
    padding: 40px 0 40px 50px;
  }
  .navbar-left li a {
    padding: 40px 50px 40px 0;
  }
}
/* Desktop */
@media (min-width: 1200px) {
  .navbar-brand {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -152.5px !important;
    /* 50% of your logo width */
    display: block;
    z-index: 9999;
  }
  .navbar-brand img {
    width: 305px;
  }
  .navbar-right li a {
    padding: 40px 0 40px 90px;
  }
  .navbar-left li a {
    padding: 40px 90px 40px 0;
  }
}
